@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-ExtraLight.ttf')
}

* {
  font-family: 'Poppins', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  color: #fff;
  background: linear-gradient(to right, rgb(20, 136, 204), rgb(43, 50, 178));
}
